Here's a file with some unusual examples, like:
<ul>
    <li>a <a>link</a> with no target</li>
    <li>an <abbr>abbreviation</abbr> with no title</li>
    <li>a <b>bold, with a <p>paragraph inside</p></b></li>
</ul>

Here's a wacky table

<table>
    This isn't in a tr element
    <tr>Isn't HTML amazing?</tr>
</table>